/* CSS RESETS */

/*  Use a more-intuitive box-sizing model */
*, *::before, *::after { box-sizing: border-box; }

/* Remove default margin */
* {   margin: 0; }

/* Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html { interpolate-size: allow-keywords; }
}

body {
  /* Add accessible line-height */
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
  /* FONT FAMILY STACK */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {   overflow-wrap: break-word; }

/* Improve line wrapping */
p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

/* Create a root stacking context */
#root, #__next { isolation: isolate; }

/*  use hypens on break words */
p {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* remove system os level styling on input controls and restyle yourself */
input { appearance: none; }

/* You can use media queries to change the font-size property as the screen size gets wider. */
@media (min-width: 30em) { html {font-size: 125%;} }
@media (min-width: 40em) { html {font-size: 150%;} }
@media (min-width: 50em) { html { font-size: 175%; } }
@media (min-width: 60em) { html { font-size: 200%; } }

/* Project Specific CSS  */
@font-face {
    font-family: 'Norse-Bold'; 
    src: url('fonts/Norse-Bold.otf');
    font-display: swap; 
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
}

.container {
    display: flex;
}

.sectionLeft {
    position: relative;
    min-height: 100vh;
    width:30%;
    background-image: url('images/autumn.jpg');
    background-size:cover
}

p.imgCredit {
    position: absolute;
    bottom: 15px;
    background: rgba(0, 0, 0, 0.45);
    padding: 4px;
    color: white;
    font-size: 8px;
}
p {
    font-size: 12px;
    padding: 10px;
}

p.logo {
    padding: 4px;
    color: white;
    font-family: 'Norse-Bold', roboto;
    font-size: 40px;
}

img.logo {
    width: 50px;
    height: 50px;
    align-self: center;
}

.logoContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20%;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
}

/* FORM RELATED */

.sectionRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

p.introText {
    font-weight: 600;
    width: 80%;
    line-height: 1.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, sans-serif;
    margin-left: 10px;
}

.emphasisText {
    font-style: italic;
}

.fieldsContainer{
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    font-size: 12px;
    background-color: whitesmoke;
    padding-top: 10px; 
    padding-left: 15px;
    
}
.formGroup {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
}

legend {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

.form-row {
  flex-direction: column;
  align-items: flex-start; /* To avoid stretching */
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

.form-row label {
    font-family: Roboto, sans-serif;
    letter-spacing: .2em;
    font-size: 7px;
    font-weight: 600;
    color: rgb(101, 101, 101);
    text-transform: uppercase;
}

.form-row input {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 200px;
  padding: 7px;
  font-size: 10px;
}

.form-row input:focus {
      outline: none;
      border-color: blue; 
      box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

.form-row input::placeholder {
  color: #999; 
  font-style: italic; 
}


.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid,
.form-row input[type='tel']:invalid,
.form-row input[type='password']:invalid {
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none; /* Remove default red glow in Firefox */
}

x.form-row input[type='password']:valid {
    border: 1px solid #D6D9DC;
}

.createAccBtn {
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 6px;
    width:120px;
    padding: 5px 10px;
    margin-left: 17px;
    margin-top: 15px;
    font-size: 10px;
    font-weight: 700;
}

a.loginText {
    color: darkslategray;
    text-decoration: none;
    padding-left: 3px;
}

a.loginText:hover {
    font-weight: 800;
}


